body {
    font-family: Arial, sans-serif;
    background-color: #e3f2fd; 
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px; 
    margin: 100px auto;
    background-color: #f0f0f0; 
    padding: 40px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 3rem; 
    margin-bottom: 30px; 
    color: #0277bd; 
}

.search-container {
    margin-bottom: 30px; 
}

input[type="text"] {
    padding: 15px; 
    width: 70%; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.5rem; 
}

button {
    padding: 15px 30px; 
    background-color: #ff8f00; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem; 
}

button:hover {
    background-color: #e65100; 
}

#weather-info {
    font-size: 2rem; 
    color: #0277bd; 
}
